{% extends "base_index.html" %}
{%  load staticfiles %}
{% block renderbody %}
<!--- banner ---->
<div class="banner">
	<div class="container">
		<h1 class="wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;"> Đà Nẵng - Thành phố đáng sống</h1>
	</div>
</div>
<div class="rooms">
	<div class="container">
		<br>
				<br>
				<br>

			<div class="hotel-police wow fadeInLeft animated" data-wow-delay=".5s">
				<h4 class="sing">Chào bạn đến với đà nẵng</h4>
				<p>Thành phố Đà Nẵng nằm ở miền Trung Việt Nam với khoảng cách gần như chia đều giữa thủ đô Hà Nội và thành phố Hồ Chí Minh. Đà Nẵng còn là trung tâm của 3 di sản văn hóa thế giới là Cố đô Huế, phố cổ Hội An và thánh địa Mỹ Sơn. Bắc giáp tỉnh Thừa Thiên – Huế, Tây và Nam giáp tỉnh Quảng Nam, Đông giáp Biển Đông. Đà Nẵng nằm ở trung độ đất nước, trên trục giao thông Bắc – Nam về đường bộ, đường sắt, đường biển, đường hàng không và điểm cuối của Hành lang Kinh tế Đông Tây trải dài từ Việt Nam, Lào, Thái Lan và Burma (Myanmar)</p>
			</div>
					<div class="more">
						<a href="single1.html">Xem Thêm...</a>
					</div>
		<br>
			<div class="similar_hotel">
				<h4 class="sing">Tổng quan về đà nẵng</h4>
				<div class="hotl-top">
			<div class="col-md-4 hotels-left wow fadeInLeft animated" data-wow-delay=".5s">
				<p style="text-align: center">Đa dạng về cảnh quang thiên nhiên</p>
					<br>
				<a href="siglepage.html">
					<div class="view1 view1-sixth">
						<img style="height: 250px; width: 100%" src="{% static 'images/deo-hai-van.jpg' %}" class="img-responsive" alt="">
							<div class="mask">
								<h2>Đèo hải vân</h2>
							</div>
					</div>
				</a>
			</div>
			</div>
			<div class="col-md-4 hotels-left wow fadeInUp animated" data-wow-delay=".5s">
				<p style="text-align: center">Môi trường sống thân thiện và sôi động</p>
					<br>
				<a href="siglepage.html">
					<div class="view1 view1-sixth">
						<img style="height: 250px; width: 100%" src="{% static 'images/duong-bach-dang.jpg' %}" class="img-responsive" alt="">
							<div class="mask">
								<h2>Đường bạch đằng</h2>
							</div>
					</div>
				</a>
			</div>
			<div class="col-md-4 hotels-left wow fadeInRight animated" data-wow-delay=".5s">
				<p style="text-align: center">Thành tựu, định hướng và mới mẻ</p>
					<br>
				<a href="siglepage.html">
					<div class="view1 view1-sixth">
						<img style="height: 250px; width: 100%" src="{% static 'images/tau-bien.jpg' %}" class="img-responsive" alt="">
							<div class="mask">
								<h2>Du khách du lịch tàu biển</h2>
							</div>
					</div>
				</a>
			</div>
			<div class="clearfix"></div>

		</div>
								<div class="more" style="text-align: center;">
						<a href="single1.html">Xem Thêm...</a>
					</div>
<div class="news">
					<div class="news-grids">
						<div class="col-md-8 news-grid-left">
							<h3>TIN MỚI NHẤT & SỰ KIỆN</h3>
							<ul>
								<li>
									<div class="news-grid-left1">
										<img src="{% static 'img/16.jpg' %}" alt=" " class="img-responsive" />
									</div>
									<div class="news-grid-right1">
										<h4><a href="single.html">Mexico's oil giant is in uncharted waters</a></h4>
										<h5>By <a href="#">Elizibeth Malkin</a> <label>|</label> <i>30.03.2016</i></h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
									<div class="clearfix"> </div>
								</li>
								<li>
									<div class="news-grid-left1">
										<img src="{% static 'img/17.jpg' %}" alt=" " class="img-responsive" />
									</div>
									<div class="news-grid-right1">
										<h4><a href="single.html">second wave of votes to legalize marijuana</a></h4>
										<h5>By <a href="#">james smith</a> <label>|</label> <i>30.03.2016</i></h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
									<div class="clearfix"> </div>
								</li>
								<li>
									<div class="news-grid-left1">
										<img src="{% static 'img/13.jpg' %}" alt=" " class="img-responsive" />
									</div>
									<div class="news-grid-right1">
										<h4><a href="single.html">Antares rocket, bound for space station, explodes</a></h4>
										<h5>By <a href="#">Michael Drew</a> <label>|</label> <i>30.03.2016</i></h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
									<div class="clearfix"> </div>
								</li>
								<li>
									<div class="news-grid-left1">
										<img src="{% static 'img/12.jpg' %}" alt=" " class="img-responsive" />
									</div>
									<div class="news-grid-right1">
										<h4><a href="single.html">stronger family bonds, two years after hurricane sandy</a></h4>
										<h5>By <a href="#">james smith</a> <label>|</label> <i>30.03.2016</i></h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
									<div class="clearfix"> </div>
								</li>
								<li>
									<div class="news-grid-left1">
										<img src="{% static 'img/15.jpg' %}" alt=" " class="img-responsive" />
									</div>
									<div class="news-grid-right1">
										<h4><a href="single.html">royal crush giants and force game 7</a></h4>
										<h5>By <a href="#">Michael Drew</a> <label>|</label> <i>30.03.2016</i></h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
									<div class="clearfix"> </div>
								</li>
							</ul>
						<br>

							<div class="more" style="text-align: center;">
						<a href="{% url 'posts:list' %}">Nhiều Hơn...</a>
					</div>
						</div>
						<div class="col-md-4 news-grid-right">
							<div class="news-grid-rght1">
							<!-- Nav tabs -->
							  <ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a class="high" href="#home" aria-controls="home" role="tab" data-toggle="tab">thời tiết tại đà nẵng</a></li>
								<li role="presentation"><a href="http://vietbao.vn/vn/thoitiet/Da-Nang" aria-controls="profile" role="tab" data-toggle="tab">chi tiết</a></li>
							  </ul>

							  <!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active london" id="home">
										<ul>
											<li  style=" width: 120px">
												<h4>Wednesday</h4>
												<span ></span>
												<p>21<sup>°</sup></p>
											</li>
											<li>
												<h4>Thursday</h4>
												<span class="moon"></span>
												<p>25<sup>°</sup></p>
											</li>
											<li>
												<h4>Friday</h4>
												<span class="sun"></span>
												<p>31<sup>°</sup></p>
											</li>
											<div class="clearfix"> </div>
										</ul>
									</div>
									<div role="tabpanel" class="tab-pane" id="profile">
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26359652.109742895!2d-113.72446020222534!3d36.24602872499641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1450786850582" frameborder="0" style="border:0" allowfullscreen></iframe>
									</div>
								</div>
							</div>
							<div class="news-grid-rght2">
								<h3>subscribe to our newsletter</h3>
								<p>Get the latest news and updates by signing up to our daily newsletter.We won't sell your email or spam you !</p>
								<form>
									<input type="text" value="enter your Email address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'enter your Email address';}">
									<input type="submit" value="Submit">
								</form>
							</div>
							<div class="news-grid-rght3">
								<img src="{% static 'img/18.jpg' %}" alt=" " class="img-responsive" />
								<div class="story">
									<p>story of the week</p>
									<h3><a href="single.html">US hails west Africa Ebola progress</a></h3>
								</div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
		<div class="room-map animated wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">
				<h4 class="sing">Bản đồ Đà Nẵng</h4>
				<iframe src="https://google.com/maps?q=%C4%91%C3%A0+n%E1%BA%B5ng&amp;hl=en&amp;ie=UTF8&amp;sll=37.0625,-95.677068&amp;sspn=36.315864,79.013672&amp;hnear=Da+Nang,+Vietnam&amp;t=m&amp;view=map&amp;z=12&amp;output=embed" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>

			</div>
	</div>
</div>

{% endblock %}
