{% extends "base_index.html" %}
{% load urlify %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}


 {% block post_detail_link %}
  <li><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a></li>
  {% endblock %}



{% block renderbody %}
<div class="blog">
		<div class="container">
			<div class="col-md-8 blog-left">
				<div class="comments-list hover14 column animated wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
					<h3>{{ title }} </h3>
					<ul>
						<li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>{{ instance.publish }} <i>|</i></li>
						<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{% if instance.user.get_full_name %}
                            {{ instance.user.get_full_name }}
                            {% endif %}</a>
                        </li>
					</ul>
					<div>
                                                {% if instance.image %}
                            <img src='{{ instance.image.url }}' class='img-responsive' />
                            {% endif %}
                        <h1>{{ title }} <small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}</small></h1>

                        <!-- {% if instance.read_time|time:"i" <= "01" %} < 1 minute {% else %}{{ instance.read_time|time:"i" }} minutes {% endif %} -->


                        <p>Thời gian đọc khoảng : {% if instance.read_time <= 1 %} < 1 Phút {% else %}{{ instance.read_time }} Phút {% endif %}</p>




                            <p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                            <hr/>
                            </p>
					</div>
					<div class='post-detail-item'>{{ instance.get_markdown }}</div>
				</div>



				<div class="response">
							<h4>Bình Luận của bạn</h4>
							{% if request.user.is_authenticated %}
					<div class="coment-form">
							<form method="POST" action="."> {% csrf_token %}
								{{ comment_form|crispy }}
								<input type="submit" value="Đăng bình luận" >
							</form>
						</div>

							{% else %}
							<p>Bạn phải đăng nhập để bình luận chỗ này :D </p>
							  <!--<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>-->
							{% endif %}

										{% for comment in comments %}

					<!--==================================-->
					<div class="media response-info">
								<div class="media-left response-text-left">
									<a href="#">
										<img class="media-object" src="{% static 'images/icon1.png' %}" alt=""/>
									</a>
									<h5><a href="#">{{ comment.user }}</a></h5>
								</div>
								<div class="media-body response-text-right">

									<p>{{ comment.content }}</p>
									<ul>
										<li>{{ comment.timestamp|timesince }} trước</li>
										<li><a href="single.html">| {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a class='comment-reply-btn' href='#'>Reply</a> | <a class='' href='{{ comment.get_absolute_url }}'>Thread</a></a></li>
									</ul>
									{% for child_comment in comment.children %}
									<div class="media response-info">
										<div class="media-left response-text-left">
											<a href="#">
												<img class="media-object" src="{% static 'images/icon1.png' %}" alt=""/>
											</a>
											<h5><a href="#">{{ child_comment.user }}</a></h5>
										</div>
										<div class="media-body response-text-right">
											<p>{{ child_comment.content }}</p>
											<ul>
												<li>{{ child_comment.timestamp|timesince }} trước </li>
												<li><a href="single.html">Reply</a></li>
											</ul>
										</div>
										<div class="clearfix"> </div>
									</div>
													 {% endfor %}
									{% if request.user.is_authenticated %}
													<form method="POST" action="."> {% csrf_token %}
														{{ comment_form|crispy }}
														<input style="" type="submit" value="trả lời bình luận" >
													</form>

													{% else %}
									<p>Bạn đăng nhập để bình luận nha :D </p>
													  <!--<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>-->
												{% endif %}

								</div>

								<div class="clearfix"> </div>
							</div>
					<!--=======================================-->

												{% endfor %}
	  <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>

						</div>


			</div>
			<div class="col-md-4 blog-right">
				<div class="popular animated wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
					<h3>Most Popular</h3>
					<div class="popular-grid">
						<div class="popular-left">
							<h4>01.</h4>
						</div>
						<div class="popular-right">
							<h5><a href="single1.html">deleniti atque</a></h5>
							<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut
								reiciendis.<span>1 Month Ago...</span></p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="popular-grid">
						<div class="popular-left">
							<h4>02.</h4>
						</div>
						<div class="popular-right">
							<h5><a href="single1.html">sapiente delectus</a></h5>
							<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut
								reiciendis.<span>15 Days Ago...</span></p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="popular-grid">
						<div class="popular-left">
							<h4>03.</h4>
						</div>
						<div class="popular-right">
							<h5><a href="single1.html">rerum hic tenetur</a></h5>
							<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut
								reiciendis.<span>5 Days Ago...</span></p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="subscribe animated wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
					<h3>Subscribe</h3>
					<p>Subscribe for daily Travels.</p>
					<form>
						<input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
						<input type="submit" value="Submit" >
					</form>
				</div>
				<div class="categories animated wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
					<h3>Categories</h3>
					<ul>
						<li><a href="single1.html">tenetur a sapiente delectus</a></li>
						<li><a href="single1.html">Itaque earum rerum hic tenetur</a></li>
						<li><a href="single1.html">qui dolorem eum fugiat quo</a></li>
						<li><a href="single1.html">voluptas a asperiores delectus</a></li>
						<li><a href="single1.html">perferendis doloribus repellat</a></li>
						<li><a href="single1.html">eligendi optio cumque nihil</a></li>
					</ul>
				</div>
				<div class="instagram animated wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
					<h2>Instagram Posts</h2>
					<div class="instagram-grids">
						<div class="instagram-grid">
							<a href="single1.html"><img src="images/h2.jpg" alt=" " class="img-responsive"></a>
						</div>
						<div class="instagram-grid">
							<a href="single1.html"><img src="images/h3.jpg" alt=" " class="img-responsive"></a>
						</div>
						<div class="instagram-grid">
							<a href="single1.html"><img src="images/h4.jpg" alt=" " class="img-responsive"></a>
						</div>
						<div class="instagram-grid">
							<a href="single1.html"><img src="images/c3.jpg" alt=" " class="img-responsive"></a>
						</div>
						<div class="instagram-grid">
							<a href="single1.html"><img src="images/c4.jpg" alt=" " class="img-responsive"></a>
						</div>
						<div class="instagram-grid">
							<a href="single1.html"><img src="images/c5.jpg" alt=" " class="img-responsive"></a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="tags animated wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="500ms">
					<h3>Recent Tags</h3>
					<ul>
						<li>
							<a href="single1.html">Hotels</a>
						</li>
						<li>
							<a href="single1.html">Travels</a>
						</li>
						<li>
							<a href="single1.html">Reservations</a>
						</li>
						<li>
							<a href="single1.html">Booking</a>
						</li>
						<li>
							<a href="single1.html">Cottage</a>
						</li>
						<li>
							<a href="single1.html">Services</a>
						</li>
						<li>
							<a href="single1.html">Hotels</a>
						</li>
						<li>
							<a href="single1.html">Travels</a>
						</li>
						<li>
							<a href="single1.html">Reservations</a>
						</li>
						<li>
							<a href="single1.html">Booking</a>
						</li>
						<li>
							<a href="single1.html">Services</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>





<!-- <p>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
Twitter
</a>

<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>


<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
Linkedin
</a>

<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">Reddit</a>

</p> -->




{% endblock renderbody %}
